/* Styling for palindrome */
body {
    background-color: skyblue;
    text-align: center;
    padding-top: 50px;
}
/* Header position */
h1 {
    margin-bottom: 30px;
}
/* Input container margin position */
#inputcontainer {
    margin-bottom: 30px;
}
/* Text input styling */
input[type="text"] {
    padding: 10px;
    margin-right: 10px;
    width: 200px;
}
/* Check button styling */
#checkbutton {
    padding: 10px 20px;
    background-color: #1900ff9c;
    color: white;
    border: none;
    cursor: pointer;
}
/* Result display styling */
#result {
    font-size: large;
    font-weight: bold;
    margin-bottom: 10px;
}
/* Try again button styling */
#tryagain {
    padding: 5px 5px;
    background-color: #1900ff9c;
    color: white;
    border-style: double;
    cursor: pointer;
}
/* Exit button styling */
#exitbutton {
    padding: 5px 5px;
    background-color: #1900ff9c;
    color: white;
    border-style: double;
    cursor: pointer;
}
